set (autostart ${PLUGIN_APPGATEWAY_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.AppGateway")

if(PLUGIN_APPGATEWAY_STARTUPORDER)
set (startuporder ${PLUGIN_APPGATEWAY_STARTUPORDER})
endif()

if(RDK_SERVICE_L2_TEST)
    map()
       key(root)
       map()
           kv(mode ${PLUGIN_APPGATEWAY_MODE})
           kv(locator lib${NAMESPACE}AppGateway.so)
       end()
    end()
    ans(configuration)
endif()
