set(autostart ${PLUGIN_APPACTIONS_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.AppActions")

if(PLUGIN_APPACTIONS_STARTUPORDER)
set (startuporder ${PLUGIN_APPACTIONS_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_APPACTIONS_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)

